@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {

    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    background-color: black;
}

.main {
    background-image: url("assets/img/bg.jpg");
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.55;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 190px;
    color: red;
    transform: translateX(100px) translateY(30px);
    filter: brightness(100%);
    position: relative;
    z-index: 10;


}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: calc(100% - 62px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;


}

.hero> :first-child {
    font-size: 48px;
    font-weight: bolder;


    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;

    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.line {
    height: 7px;
    background-color: grey;
    position: relative;
    z-index: 10;


}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    /* font-weight: bold; */
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid rgb(247, 246, 246);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 8px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 16px;
}

.main input {
    padding: 3px 24px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.5);

}

.first {
    display: flex;
    justify-content: center;
    min-width: 50vw;
    margin: auto;
    color: rgb(246, 245, 246);
    background-color: black;
    align-items: center;
}
@media screen  and (max-width: 1300px){
    body{
        background-color: rgb(0, 0, 0);
    }
    .first{
        flex-wrap: wrap;
    }

}

    



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox:hover {
    background-color: red;

}

.faqbox {

    transition: all 0.5s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.19);
    max-width: 40vw;
    padding: 24px;
    margin: 34px auto;
    cursor: pointer;

}

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
    
    
    
    }


footer {
    color: white;
    margin: auto;
    max-width: 600vw;
    background-color: black;
    padding: 60px;

}

footer.question {
    padding: 34px 0;
    transform: translateX(10px);

}



.footer a {
    font-size: 14px;
    color: rgb(237, 233, 233);
    text-decoration: none;

}

.footer a:hover {
    color: red;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;

}
@media screen  and (max-width: 1300px){

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}









@media screen  and (max-width: 1300px){
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;

}

